<div class="row">
  <div class="col-xs-12">
    <div class="btn btn-success">New Recipe</div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <a *ngFor="let recipe of recipes" href="#" class="list-group-item clearfix">
      <div class="pull-left">
        <div class="list-group-item-heading">{{ recipe.name }}</div>
        <p class="list-group-item-text">{{ recipe.description }}</p>
      </div>
      <span class="pull-right">
        <img
          class="img-responsive"
          style="height: 50px"
          [src]="recipe.imagePath"
          alt="{{ recipe.name }}"
        />
      </span>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
